<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mixlogy 101</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amaretto.css') }}">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
    crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo">Mixology 101
            <i class="fas fa-glass-cheers"></i> </a>
           
            <div id="user-profile" class="user-profile" data-profile-url="{{ url_for('profile') }}">

                <img src="{{ url_for('static', filename='img/cocktails.jpg') }}" alt="Profile picture" id="profile-picture" class="profile-picture" />
                <span id="user-name" class="user-name">John Doe</span>
            </div>
            
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/"> Home </a>
                </li>
                <li class="navbar_item">
                    <a href="/top10">Top 10 Popular Cocktails</a>
                </li>                
                <li class="navbar_item">
                    <a href="/Learn" > Learn More About Our Cocktails </a>
                </li>
                <li class="navbar_item">
                    <a href="/saved-drinks" > Saved Cocktails </a>
                </li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                <li class="navbar_item">
                    <a href="/wall"> Your Wall </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
        <div class="main_container">
            <div class="main_content">
                <h1>Amaretto</h1>
                <h2>Sour</h2>
                <p>Here's how to make this cocktail!</p>
            </div>
            <div class="main-img-container">
                <img src="/images/undraw_beer.svg" 
                alt="undraw_beer" 
                id="main-img" />
            </div>
        </div>

        <div class="cont_principal">
            <div class="cont_central">
              <div class="cont_modal cont_modal_active">
              <div class="cont_photo">
            <div class="cont_img_back">
                <img src="/images/Amaretto-Sour.jpeg" alt="" />
                </div>
            <div class="cont_mins">
                <div class="sub_mins">
              <h3>5</h3>
            <span>MINS</span>
              </div>
              <div class="cont_icon_right">
            <a href="#">  <i class="material-icons">&#xE8E7;</i></a>
              </div>
                </div>
            <div class="cont_servings">
                  <h3>1</h3>
            <span>SERVINGS</span>
                </div>
            <div class="cont_detalles">
                <h3>Amaretto Sour</h3>
            <p>50ml Amaretto <br>
               25ml Lemon Juice <br>
               25ml Sugar Syrup<br>
               dash of orange bitters<br>
               1 Egg white
            </p>
                </div>
                </div>
            <div class="cont_text_ingredients">
            <div class="cont_over_hidden">
             
              <div class="cont_tabs">
              <ul>
                
                <li><a href="#"><h4>PREPARATION</h4></a></li>
              </ul>  
              </div>
               
              <div class="cont_text_det_preparation">
              <div class="cont_title_preparation">
                <p>STEP 1</p>
                </div>
              <div class="cont_info_preparation">
                <p>Gather all of your ingredients and put them into your shaker and shake for 1 minute</p>
                </div>  
              <div class="cont_text_det_preparation">
            
              <div class="cont_title_preparation">
                <p>STEP 2</p>
                </div>
              <div class="cont_info_preparation">
                <p>Strain the shaker into a glass of your choosing and enjoy!</p>
                </div> 
              
              </div>
            </div>  
              <div class="cont_btn_mas_dets">
              <a href="#"><i class="material-icons">&#xE313;</i></a>
              </div>
                
              </div>
              <div class="cont_btn_open_dets">
              <a href="#e" onclick="open_close()"><i class="material-icons">&#xE314;</i></a>
              </div>
            
                </div>
               </div>
            </div>
    </div>

    <!--- Footer Section -->
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer_container">
        <div class="footer_links">
            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>About Us</h2>
                    <a href="/index.html">How it works</a>
                    <a href="/">Testimonals</a>
                    <a href="/">Careers</a>
                    <a href="/">Investments</a>
                    <a href="/">Terms of Service</a>
                </div>
                <div class="footer_link-items">
                    <h2>Contact Us</h2>
                    <a href="/">Contact</a>
                    <a href="/">Support</a>
                    <a href="/">Destinations</a>
                    <a href="/">Sponsorships</a>
                </div>
            </div>
            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>Videos</h2>
                    <a href="/">Submit Videos Here</a>
                    <a href="/">Our Ambassadors</a>
                    <a href="/">Influencers</a>
                </div>
                <div class="footer_link-items">
                    <h2>Social Media</h2>
                    <a href="/">Instagram</a>
                    <a href="/">Youtube</a>
                    <a href="/">Facebook</a>
                    <a href="/">Twitter</a>
                </div>
            </div>
        </div>
        <div class="social_media">
            <div class="social_media-wrap">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">Mixlogy 101<i class="fas
                        fa-glass-cheers"></i></a>
                </div>
                <p class="website_rights">@ Mixlogy 101 2022. All rights 
                reserved</p>
                <div class="social_icons">
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-youtube"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-facebook"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-twitter"></i>
                </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/amaretto.js') }}"></script>  
</body>
</html>