<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Submit a Cocktail Recipe or Video</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar_container">
        <a href="/" id="navbar_logo">Mixology 101
        <i class="fas fa-glass-cheers"></i> </a>
       
        <div id="user-profile" class="user-profile" data-profile-url="{{ url_for('profile') }}">

            <img src="{{ url_for('static', filename='img/cocktails.jpg') }}" alt="Profile picture" id="profile-picture" class="profile-picture" />
            <span id="user-name" class="user-name">John Doe</span>
        </div>
        
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a href="/"> Home </a>
            </li>
            <li class="navbar_item">
                <a href="/top10">Top 10 Popular Cocktails</a>
            </li>                
            <li class="navbar_item">
                <a href="/Learn" > Learn More About Our Cocktails </a>
            </li>
            <li class="navbar_item">
                <a href="/saved-drinks" > Saved Cocktails </a>
            </li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <li class="navbar_item">
                <a href="/wall"> Your Wall </a>
            </li>
        </ul>
    </div>
</nav>
    <h1>Submit a Cocktail Recipe or Video</h1>
    <form action="/submitvideo" method="POST"> <!-- Update the action URL -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="recipe">Recipe:</label>
        <textarea id="recipe" name="recipe"></textarea><br><br>
        <label for="video">Video:</label>
        <input type="text" id="video" name="video"><br><br>
        <input type="submit" value="Submit">
    </form>
	{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}





<script>
  const sortOptions = document.getElementById('sort-options');

  sortOptions.addEventListener('change', () => {
      const selectedOption = sortOptions.value;
      const listItems = Array.from(recipeList.getElementsByTagName('li'));
    
      listItems.sort((a, b) => {
        const aName = a.querySelector('h3').textContent;
        const bName = b.querySelector('h3').textContent;
    
        if (selectedOption === 'a-z') {
          return aName.localeCompare(bName);
        } else if (selectedOption === 'z-a') {
          return bName.localeCompare(aName);
        } else {
          const aDefaultOrder = parseInt(a.dataset.defaultOrder, 10);
          const bDefaultOrder = parseInt(b.dataset.defaultOrder, 10);
          return aDefaultOrder - bDefaultOrder;
        }
      });
    
      listItems.forEach(item => {
        recipeList.appendChild(item);
      });
    });
            

            
</script>
<script>
  // Simulated user data (replace with actual user data from your server)
  window.loggedInUser = {
    isLoggedIn: true,
    name: 'Jane Doe',
    profile_picture_url: "{{ url_for('static', filename='img/cocktails.jpeg') }}"
  };
</script>


<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
</body>
</html>
