<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mixlogy 101</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top10.css') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
    crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo">Mixology 101
            <i class="fas fa-glass-cheers"></i> </a>
           
            <div id="user-profile" class="user-profile" data-profile-url="{{ url_for('profile') }}">

                <img src="{{ url_for('static', filename='img/cocktails.jpg') }}" alt="Profile picture" id="profile-picture" class="profile-picture" />
                <span id="user-name" class="user-name">John Doe</span>
            </div>
            
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/" class="navbar_links"> Home </a>
                </li>
                <li class="navbar_item">
                    <a href="/top10" class="navbar_links">Top 10 Popular Cocktails</a>
                </li>                
                <li class="navbar_item">
                    <a href="/Learn" class="navbar_links" > Learn More About Our Cocktails </a>
                </li>
                <li class="navbar_item">
                    <a href="/saved-drinks" class="navbar_links"> Saved Cocktails </a>
                </li>
                <li><a href="{{ url_for('login') }}" class="navbar_links">Log In</a></li>
                <li><a href="{{ url_for('logout') }}" class="navbar_links">Log Out</a></li>
                <li class="navbar_item">
                    <a href="/wall" class="navbar_links"> Community Wall </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
        <div class="main_container">
            <div class="main_content">
                <h1>Scroll</h1>
                <h2>Down To</h2>
                <p>Checkout our top 10 cocktails of this month!</p>
            
            </div>
            <div class="main-img-container">
                <img src="{{ url_for('static', filename='img/undraw_beer.svg') }}" alt="Your image description" class="responsive-image">
            </div>
        </div>
    </div>
    <br><br>

    <!-- Top 10 cocktails-->
    <div class="grid">
        {% for cocktail in cocktails %}
            <a href="/cocktail/{{ cocktail._id }}" class="cocktail-card">
                <img src="{{ url_for('static', filename='img/' + cocktail.image) }}" alt="{{ cocktail.name }}">
                <div class="cocktail-name">{{ cocktail.name }}</div>
                <div class="cocktail-description">{{ cocktail.description }}</div>
            </a>
        {% endfor %}
    </div>


    
    
    
    
    
    
    <!--- Footer Section -->
    
    <div class="footer_container">
        <div class="footer_links">
            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>About Us</h2>
                    <a href="/index.html">How it works</a>
                    <a href="/">Testimonals</a>
                    <a href="/">Careers</a>
                    <a href="/">Investments</a>
                    <a href="/">Terms of Service</a>
                </div>
                <div class="footer_link-items">
                    <h2>Contact Us</h2>
                    <a href="/">Contact</a>
                    <a href="/">Support</a>
                    <a href="/">Destinations</a>
                    <a href="/">Sponsorships</a>
                </div>
            </div>
            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>Videos</h2>
                    <a href="/">Submit Videos Here</a>
                    <a href="/">Our Ambassadors</a>
                    <a href="/">Influencers</a>
                </div>
                <div class="footer_link-items">
                    <h2>Social Media</h2>
                    <a href="/">Instagram</a>
                    <a href="/">Youtube</a>
                    <a href="/">Facebook</a>
                    <a href="/">Twitter</a>
                </div>
            </div>
        </div>
        <div class="social_media">
            <div class="social_media-wrap">
                <div class="footer_logo">
                    <a href="/" id="footer_logo">Mixlogy 101<i class="fas
                        fa-glass-cheers"></i></a>
                </div>
                <p class="website_rights">@ Mixlogy 101 2022. All rights 
                reserved</p>
                <div class="social_icons">
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-instagram"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-youtube"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-facebook"></i>
                </a>
                <a href="/" class="social_icons-link"
                target="_blank"> 
                <i class="fab fa-twitter"></i>
                </a>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Simulated user data (replace with actual user data from your server)
        window.loggedInUser = {
          isLoggedIn: true,
          name: 'Jane Doe',
          profile_picture_url: "{{ url_for('static', filename='img/cocktails.jpeg') }}"
        };
    </script>
    
      
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/top10.js') }}"></script>

</body>
</html>